#scannerPart {
  height: 100%;
  overflow: auto;
  padding: 20px;
  background-color: #d89f9f;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

table,
th,
td {
  border: 1px solid black;
  border-collapse: collapse;
  text-align: center;
}

table{
  margin-bottom: 20px
}

#saveFileButton {
  background-color: coral;
  padding: 5px;
  text-decoration: none;
  color: aliceblue;
}
