#pageContainer {
  /* display: grid;
  grid-column-gap: 20px;
  grid-template-columns: 1fr 1fr; */
  height: 90vh;
}

/* Buttons */

#buttonsContainer {
  text-align: center;
  background-color: #d89f9f;
  padding: 5px;
}

.choiceButton {
  border-radius: 20px;
  border: none;
  font-weight: bold;
  height: 35px;
  width: 200px;
  cursor: pointer;
  background-color: darkslateblue;
  color: white;
}

.disabledButton {
  color: #d89f9f;
  background-color: #adb3bd;
}

/*Code Part*/

#codePart {
  height: 100%;
  background-color: navy;
  overflow: auto;
  padding: 20px;
  display: flex;
  flex-direction: column;
}

#codeContainer {
  height: 80%;
  background-color: black;
  color: bisque;
  font-size: xx-large;
  padding: 20px;
  font-weight: bold;
}

#fileInputContainer {
  color: aliceblue;
  margin-top: 20px;
}

#startScanButton {
  height: 30px;
  background-color: rgb(43, 37, 37);
  color: antiquewhite;
  font-weight: bold;
  border: none;
  cursor: pointer;
}

/*Scanner Part*/

#scannerPart {
  height: 100%;
  overflow: auto;
  padding: 20px;
  background-color: #d89f9f;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  display: none;
}

table,
th,
td {
  border: 1px solid black;
  border-collapse: collapse;
  text-align: center;
}

#saveFileButton {
  background-color: coral;
  padding: 5px;
  text-decoration: none;
  color: aliceblue;
}
